body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-image: url("../images/starrySky.jpeg");
	background-position: bottom;
	background-size: cover;
	position: static;
	overflow: hidden;
}

/* Start of Schedule */

#weekendInfo {
	width: 30vw;
	height: 100vh;
	overflow-y: scroll;
	background-color: rgb(255, 255, 255);
	border-right: 0.15vw solid black;
	flex-shrink: 0;
	flex-grow: 0;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#weekendInfo::-webkit-scrollbar {
	display: none;
}

#infoHead,
.dayHeadWrap {
	width: 100%;
	height: 6vh;
	min-height: 6vh;
	max-height: 6vh;
	border-bottom: 0.15vh solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding: 0.4vh 0; */
	margin: 0;
	font-size: 4vh;
	background-color: var(--header-blue);
	color: white;
	position: sticky;
	top: 0;
}

#weekendInfoContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#weekendInfoContainer::-webkit-scrollbar {
	display: none;
}

#settingsHead,
#eventCreatorHead {
	text-align: center;
	font-size: 3vh;
	font-weight: 500;
	color: var(--accent-blue);
	margin: 1.5vh 0;
}

#settingsWrap {
	width: 80%;
}

#editWeekend {
	margin: 0 auto 1vh auto;
}

.setting {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0.2vh 0;
	font-size: 2vh;
}

#eventCreatorWrap {
	width: 80%;
}

input[type="number"] {
	width: 20%;
}

input[type="text"], textarea {
	text-wrap: wrap;
	outline: none;
	width: 80%;
}

button {
	cursor: pointer;
	margin: 0.4vh 0;
}

.eventMakerWrap {
	display: block;
	height: fit-content;
	overflow: hidden;
	max-width: 98% !important;
	margin: 1px auto;
	border-radius: 1.5vh;
	background-color: rgb(243, 243, 243);
	border: 0.1vw solid black;
	flex-shrink: 0;
}

#mInfoWrap {
	min-height: 29vh;
	height: fit-content;
	padding-bottom: .1vh;
}

#titleIn {
	font-size: 2vh;
}

#mEventHeadWrap {
	height: 5vh;
}

#mAttendeesList {
	width: 80%;
	/* height: 2vh; */
	margin: 0.3vh 0;
	padding: 1vh;
	border: 1px solid black;
	border-radius: 1vh;
	margin-left: 10%;
	background-color: hsl(230, 100%, 95%);
	list-style-position: inside;
}

#attendeeAdd, .removeAttendee {
	cursor: pointer;

}

#attendeeAdd:hover, .removeAttendee:hover {
	color: rgb(89, 89, 89);
}

.mAttendeeWrap {
	width: 95%;
	padding-left: 5%;
	height: 2vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 1vh 0;
}

.mAttendeeWrap input {
	margin: 0 2%;
}


#eventSaveButton {
	margin: 0.1vh auto;
}

#debugCode {
	display: none;

	width: 90%;
	background-color: rgb(37, 37, 37);
	color: white;
	padding: 3%;
	border-radius: 1.5vh;
	border: 0.1vh solid black;
	overflow-y: scroll;
	word-wrap: break-word;
	page-break-inside: avoid;
	text-wrap: wrap;
	max-height: 10vh;
	margin: 0 0 .2vh 0;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#debugCode.visible {
	display: block;
}

#debug::-webkit-scrollbar {
	display: none;
}

#buttonsWrap {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
