body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-image: url("../images/starrySky.jpeg");
	background-position: bottom;
	background-size: cover;
	position: static;
}

/* Start of Schedule */
#weekendInfo {
	width: 24.8vw;
	height: 100vh;
	background-color: rgb(255, 255, 255);
	border-right: 0.15vw solid black;
	flex-shrink: 0;
	flex-grow: 0;
}

#infoHead,
.dayHeadWrap {
	width: 100%;
	height: 6vh;
	min-height: 6vh;
	max-height: 6vh;
	border-bottom: 0.15vh solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-size: 4vh;
	background-color: var(--header-blue);
	color: white;
}

#infoContainer {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	height: 93.85vh;
}

#selectorWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 10%;
}

.arrow {
	margin: 0 0.1vw;
	cursor: pointer;
	transition: color 0.1s ease;
}

.arrow:hover {
	color: hsl(0, 0%, 50%);
}

.arrow:active {
	color: hsl(0, 0%, 65%);
}

#infoWrap {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: flex-start;
	width: 100%;
	font-size: 2vh;
	height: 90%;
}

#currentTrips,
#remainingTrips,
#completedTrips {
	display: none;
}

#infoWrap.active {
	#currentTrips,
	#remainingTrips,
	#completedTrips {
		display: block;
	}
}

.info {
	color: blue;
}

.trip {
	background-color: aquamarine;
	border: 0.2vh solid black;
	border-radius: 0.5vh;
	text-align: center;
	margin: 0.1vh 10%;
	width: max-content;
	padding: 0 2%;
	cursor: pointer;
}

@media all and (orientation: portrait) {
	html {
		width: 100vw;
		height: 100vh;
		overflow-y: hidden;
		overflow-x: scroll;
	}
	body {
		scroll-snap-type: x mandatory;
		overflow-y: hidden;
		overflow-x: scroll;
	}

	body > * {
		scroll-snap-align: start;
	}

	.dayWrap.open,
	#weekendInfo {
		width: 100vw;
		height: 100vh;
		flex-shrink: 0;
	}
	#daysContainer {
		min-width: max-content;
	}

	.dayCollapse {
		margin-left: 2.5%;
	}
	.dayWrap {
		min-width: 30px;
		border-width: 2px;
	}
}
