@keyframes twist1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

@keyframes twist2 {
	from {
		transform: rotate(90deg);
	}
	to {
		transform: rotate(0deg);
	}
}

#daysContainer {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	overflow-x: scroll;
	overflow-y: hidden;
	
}

.dayWrap {
	max-height: 100vh;
	overflow: auto;
	height: 100%;
	width: 3vw;
	background-color: white;
	border-right: 0.15vw solid black;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	--collapseTime: 0.2s;
	--dayCollapseTime: 0.2s;
	transition: width var(--dayCollapseTime) ease-out;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.dayWrap::-webkit-scrollbar {
	display: none;
}

.dayWrap.open {
	width: 24.85vw;
}

.dayHeadWrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: sticky;
	left: 0;
	top: 0;
	z-index: 100;
}

.dayHead {
	font-size: 4vh;
	display: none;
}

.dayWrap.open .dayHead {
	display: contents;
}

.eventsContainer {
	min-width: 100%;
	min-height: 93.5vh;
	max-width: 100%;
}

.eventWrap {
	height: fit-content;
	display: none;
	overflow: hidden;
	max-width: 98% !important;
	margin: 1px auto;
	border-radius: 1.5vh;
	background-color: hsl(0, 0%, 97%);
	border: 0.1vw solid black;
	flex-shrink: 0;
}

.dayWrap.open .eventWrap {
	display: block;
}

.eventInfoWrap {
	width: 90%;
	padding-left: 5%;
	overflow: hidden scroll;
	font-size: 2vh;
	height: 0;
	transition: height var(--collapseTime) ease;
}

.eventWrap.open .eventInfoWrap {
	height: 32vh;
}

.eventWrap.open .eventInfoWrap.noAdmit {
	height: 17vh;
}

.dayCollapse {
	position: absolute;
	left: 0.5vw;
	height: 7vh;
	flex-shrink: 0;
	transform: rotate(90deg);
	transition: var(--dayCollapseTime) ease all;
	cursor: pointer;
}

.dayCollapse.open {
	transform: rotate(0deg);
}

.eventCollapse:hover,
.dayCollapse:hover, .collapse:hover {
	color: hsl(0, 0%, 40%);
	fill: hsl(0, 0%, 80%) !important;
}

.eventCollapse:active,
.dayCollapse:active, .collapse:active {
	color: hsl(0, 0%, 60%);
	fill: hsl(0, 0%, 60%) !important;
}

.eventCollapse, .collapse {
	cursor: pointer;
	transition: linear 0.2s fill;
	animation: forwards twist2 ease var(--collapseTime);
}

.eventCollapse.open {
	animation: forwards twist1 ease var(--collapseTime);
}

.eIWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.eIWrap .material-symbols-outlined {
	margin-right: 1%;
}

.eventHeadWrap {
	--inEventColor: hsl(0, 92%, 70%);
	--eventFullColor: hsl(51, 92%, 70%);
	--eventHeadColor: hsl(220, 93%, 80%);
	width: 96%;
	height: fit-content;
	padding: 1% 2%;
	background-color: var(--eventHeadColor);
	overflow: hidden;
	border-bottom: 0vh solid black;
	transition: border-bottom ease var(--collapseTime);
}

.eventHeadWrap.full {
	background-color: var(--eventFullColor);
}

.eventHeadWrap.inEvent {
	background-color: var(--inEventColor);
}

.eventHeadWrap * {
	margin-top: 0;
	margin-bottom: 0;
}

.eventWrap.open .eventHeadWrap {
	border-bottom: .1vh solid black;
}

.eventTitle {
	margin-right: auto;
	flex-shrink: 1;
	max-height: 100%;
	text-wrap: balance;
	font-size: 1.75vw;
	width: auto;
	max-width: 60%;
	font-weight: 400;
}

.eventTime {
	text-align: end;
	font-size: 1.25vw;
	margin-left: 2%;
}

.locationCopy {
	display: none !important;
	cursor: pointer;
}

.eventLocationWrap:hover .locationCopy {
	display: block !important;
}

.addDisabled {
	cursor: not-allowed;
}

.locationCopy:hover,
.addIcon:hover,
.addIcon:disabled {
	color: grey !important;
}

.locationCopy:active,
.addIcon:active {
	color: darkgray !important;
}

.eventInfoWrap > * {
	margin: 0.3vh 0;
}
.travelTime {
	margin: 0 1%;
}

.descWrap {
	font-size: 1.5vh;
}

.descWrap p {
	margin: auto 0;
}

.descIcon {
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
}

.addIcon {
	cursor: pointer;
}

.eventSpots {
	font-weight: bold;
}

.attendeesWrap {
	flex-wrap: wrap;
	width: 100%;
}

.attendeesList {
	width: 80%;
	overflow-y: scroll;
	/* -ms-overflow-style: none; 
	scrollbar-width: none;  */
	min-height: 11vh;

	list-style-position: inside;
	list-style-type: decimal;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: 1px solid black;
	border-radius: 1vh;
	margin-left: 10%;
	background-color: hsl(228, 88%, 97%);
}

.attendeesList.empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* .attendeesList::-webkit-scrollbar {
	display: none;
} */

.attendee {
	width: 96%;
	margin-left: 2%;
}

.attendee span,
.attendee::marker {
	margin: auto 0;
	font-size: 1.75vh;
}

.checkedIn {
	color: green;
}
.pending {
	color: orange;
}
.noShow {
	color: darkred;
}
.removed {
	text-decoration: line-through;
}
.approved {
	color: blue;
}

@media screen and (orientation: portrait) {
	.eventTitle {
		font-size: 6vw;
	}

	.eventTime {
		font-size: 3.5vw;
	}

	.dayCollapse {
		display: none;
	}
}
