body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


h1 {
	text-align: center;
	height: 10%;
	margin: 5% 0;
}

#helpContentWrap {
	background-color: white;
	border-radius: 2vw;
	border: 0.2vw solid black;
	width: 65%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* box-shadow: 0vh 0vh 6vh black; */
	
}

#helpContentWrap * {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
#helpContentWrap *::-webkit-scrollbar {
	display: none;
}

h1 {
	font-size: 7vh;
}

#content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 95%;
	max-height: 70%;
}

#leftWrap {
	width: 55%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	overflow-y: scroll;
}

form {
	width: 90%;
	max-width: 95%;
	border: 1px solid black;
	padding: 0;
	background-color: hsl(227, 70%, 80%);
	border-radius: 1.5vh;
	padding: 1vh;
	font-size: 1em;
	max-height: 100%;
	overflow-y: scroll;
}

fieldset {
	border: none;
	max-width: 100% !important;
	margin: 0;
	padding: 0;
}

legend h2 {
    margin: 3% 0;
}

.inputWrap {
	margin: 2% 5%;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-width: 60%;
	max-height: min-content;
}

input,
select,
textarea {
	margin-top: 0.25%;
	margin-left: 2%;
	font-family: inherit;
	max-width: 90% !important;
}

input[type="text"] {
	width: 80%;
	height: 5vh;
}

#rightWrap {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#helpBlurb {
	font-size: 2.25vh;
	margin: auto 0;
	text-align: center;
	width: 95%;
	margin-top: 2vh;
}

#helpBlurb a {
	text-decoration: none;
	color: rgb(1, 1, 195);
}

#helpBlurb a:hover {
	text-decoration: underline;
}

#helpVideo {
	max-width: 95%;
}

#videoHead {
	width: 100%;
	text-align: center;
	margin: 0 0 1vh 0;
}

@media screen and (orientation: portrait) {
	#helpContentWrap {
		min-width: 200px;
		overflow-y: scroll;
		width: 90%;
	}
	#leftWrap, #rightWrap {
		width: 95%;
		overflow-y: visible;
	}
	#content {
	flex-direction: column;
}
}