@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dosis:wght@200..800&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

html {
	font-family: "Wittgenstein", serif;
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
	/* font-family: SF;
	font-weight: 600; */

	width: 100%;
	flex-shrink: 0;
	background-color: black;

	--header-blue: hsl(206, 100%, 35%);
	--accent-blue: hsl(226, 100%, 56%);

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
	display: none;
}

body {
	background-image: url("../images/starrySky.jpeg");
	background-position: bottom;
	background-size: cover;
	overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#polarisLogoLink {
	width: 70%;
	margin-left: auto;
	margin-right: 1%;
	max-height: 6vh;
}

#polarisLogo {
	max-height: 5.5vh;
	margin: auto 0;
}

#polarisLogo * {
	transition: 0.35s fill ease;
}

#polarisLogo:hover .change {
	fill: rgb(0, 0, 139);
}

#polarisLogo:hover #accent {
	fill: white;
}

/* start of side menu */
#sideMenuWrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-height: 100%;
	width: 0;
	min-width: 0;
	background-color: whitesmoke;
	z-index: 500;
	transition: width 0.3s ease-out, min-width 0.3s ease-out;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

#sideMenuWrap div,
#sideMenuWrap a {
	display: none;
}

#sideMenuWrap.open {
	width: 20vw;
	min-width: 250px;
	border-width: 0.1vw;
	box-shadow: 0vh 0vh 3vh rgb(0, 0, 0);
}

#sideMenuWrap.open ~ * {
	filter: brightness(0.6);
}

#sideMenuWrap.open div,
#sideMenuWrap.open a {
	display: flex;
}

#menuToggle {
	position: absolute;
	top: 0.5vh;
	left: 0.5vw;
	height: 5vh;
	fill: white;
	transition: fill 0.3 ease-out;
	cursor: pointer;
}

#menuToggle.open {
	fill: black;
}

#menuHead {
	background-color: gray;
	width: 100%;
	height: 6vh !important;
	border-bottom: 0.15vh solid black;
}

.menuWrap {
	width: 90%;
	margin-left: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	color: black;
	transition: color 0.2s ease;
	transition: text-decoration 0.2s ease;
	text-decoration: none;
	margin-bottom: 5%;
	cursor: pointer;
}

.menuWrap:hover {
	color: darkblue;
}

.menuWrap:hover .menuText,
.menuWrap:hover h2 {
	text-decoration: underline;
}

.menuText {
	margin-left: 5%;
}

#menuPF {
	margin-top: 5%;
}

#menuPF img {
	border-radius: 50%;
	margin-right: 5%;
	max-width: 40%;
}

#menuPF * {
	font-size: 2.25vw;
}

#menuFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: smaller;
	width: 100%;
	transition: none;
	position: absolute;
	bottom: 1%;
	text-align: center;
	text-wrap: wrap;
}

.noScrollBar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: 0; /* Firefox */
}

.noScrollBar::-webkit-scrollbar {
	display: none;
}