body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

main {
	background-color: white;
	border: 0.1vh solid black;
	border-radius: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90vw;
	height: 90vh;
	overflow: none;
}

#mainHeader {
	width: 100%;
	height: 5%;
	font-size: 4vh;
	text-align: center;
}

#menuEmbed {
	height: 95%;
	width: 90%;
	object-position: top;
}

@media screen and (orientation: portrait) {
	#mainHeader {
		font-size: medium;
	}
}
