body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;
	margin: 0;
	position: static;
}

/* Start of Schedule */
#mySchedule {
	width: 25vw;
	height: 100vh;
	background-color: rgb(255, 255, 255);
	border-right: 0.15vw solid black;
	flex-shrink: 0;
	flex-grow: 0;
	position: relative;
}

#scheduleHead,
.dayHeadWrap {
	width: 100%;
	height: 6vh;
	min-height: 6vh;
	max-height: 6vh;
	border-bottom: 0.15vh solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-size: 4vh;
	background-color: var(--header-blue);
	color: white;
}

#scheduleContainer {
	width: 95%;
	margin: 0 auto;
}

.scheduleDay {
	font-size: 1.5vh;
	text-align: center;
}

.scheduleDayHead {
	width: 100%;
	text-align: center;
	font-size: 3vh;
}

.sEventWrap {
	display: block;
}

.checkInLaunch,
#exitSignup,
#sortType,
.attendeeLink {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	color: black;
}

.checkInLaunch:hover,
#exitSignup:hover,
#sortType:hover,
.attendeeLink:hover {
	color: grey !important;
}

.checkInLaunch:active,
#exitSignup:active,
#sortType:active,
.attendeeLink:active {
	color: darkgray !important;
}

#checkInWindow {
	width: 40vw;
	height: 70vh;
	position: absolute;
	top: 15vh;
	left: 30vw;
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 2vh;
	z-index: 100;
	display: none;
}

#checkInWindow.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 0 0.5vh black;
}

#checkInWindow.active ~ * {
	filter: brightness(0.4);
}

#windowHead {
	width: 100%;
	background-color: var(--header-blue);
	height: 15%;
	color: white;
	margin: 0;
	border-radius: 1.8vh 1.8vh 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4vh;
	border-bottom: 0.1vh solid black;
}

#exitSignup {
	position: absolute;
	top: 5%;
	right: 3%;
	color: white;
	font-size: 3vh;
	transition: color 0.2s ease;
}

#sortWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 2% 0;
	width: 25%;
}

#sortType {
	margin-left: 3%;
	font-size: 3.5vh;
}

#attendeesWrap {
	background-color: white;
	width: 65%;
	border: 0.1vh solid black;
	height: 60%;
	border-radius: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 3%;
}

.attendeeWrap {
	margin: 1% 0;
}

.statusSelect {
	cursor: pointer;
}

#attendeesMail {
	margin: 2% 0;
}

#checkInSaveButton {
	margin: auto 0;
	font-size: 2vh;
	cursor: pointer;
}

#swipeIcon {
	display: none;
}

@media all and (orientation: portrait) {
	html {
		width: 100vw;
		height: 100vh;
		overflow-y: hidden;
		overflow-x: scroll;
	}

	body {
		scroll-snap-type: x mandatory;
		overflow-y: hidden;
		overflow-x: scroll;
	}

	body > * {
		scroll-snap-align: start;
	}

	.dayWrap.open,
	#mySchedule {
		width: 100vw;
		height: 100vh;
		flex-shrink: 0;
	}

	#daysContainer {
		min-width: max-content;
	}

	.dayCollapse {
		margin-left: 2.5%;
	}

	.dayWrap {
		min-width: 30px;
		border-width: 2px;
	}

	#checkInWindow {
		width: 90vw;
		left: 5vw;
	}

	#swipeIcon {
		display: block;
		margin: auto, 0;
		color: white;
		position: absolute;
		top: 1vh;
		right: 1vh;
		height: 4vh;
		font-size: 4vh;
		opacity: .8;
	}
}
